node_modules/
build
.idea/workspace.xml
.idea/tasks.xml
yarn-error.log
coverage
.env
gql-schema.temp.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
